# CONFIGURACIÓN DEL SERVIDOR PLADDES UNSAAC
PORT=3000
NODE_ENV=development

# CADENA DE CONEXIÓN A POSTGRESQL
# Ejemplo Local: postgresql://postgres:password@localhost:5432/pladdes_unsaac
# Ejemplo Nube (Neon/Supabase/Render): postgresql://user:pass@ep-cool-db.us-east-2.aws.neon.tech/pladdes_db?sslmode=require
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pladdes_unsaac

# CLAVE SECRETA PARA JWT
JWT_SECRET=unsaac_pladdes_secret_key_2026
